@import url('https://fonts.googleapis.com/css?family=Merriweather');

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Merriweather', serif;
    background-color:#282E34;
    color: #ddd;
}

.navbar {
background-color:#282E34;
border: none;
}

.navbar-collapse > ul {
    margin-left: 100px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #282E34;
    color: #FFC0CB;
}

.navbar-default .navbar-nav > li > a:active {
    background-color: #282E34;
    color: #FFC0CB;
}

.linksList{ 
list-style: none;
text-align: center;
}

.linksList > li {
display: inline;
}

.linksList> li a{
padding: 50px;
}

.resumeList, 
.resumeList > ul {
    list-style: none;
}

.parallax { 
    /* The image used */
    background-image: url("../img/fire.jpg");

    /* Full height */
    height: 85%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-2 { 
    /* The image used */
    background-image: url("../img/concert.jpg");

    /* Full height */
    height: 85%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-3 { 
    /* The image used */
    background-image: url("../img/mountains.jpg");

    /* Full height */
    height: 85%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-4 { 
    /* The image used */
    background-image: url("../img/nym.jpg");

    /* Full height */
    height: 85%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 250;
    left: 0;
    right: 0;
    margin: auto; 
    background: transparent;
    text-shadow: 2px 1px #000000;
}
         

/* Turn off parallax scrolling for tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
    .parallax-2 {
        background-attachment: scroll;
    }
    .parallax-3 {
        background-attachment: scroll;
    }
    .parallax-4 {
        background-attachment: scroll;
    }               
}

.div-1 {
    height:auto;
    background-color:#282E34;
    font-family: monospace;
    padding: 30px;
}

#arrow-overlay {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000; 
}

#arrow-down {
    color: red;
    padding-bottom: 5px;
    padding-right: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

#arrow-up {
    color: blue;
    padding-top: 5px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    right: 0;    
}

.footer {
padding-top: 10px;
}